<div id="wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/ofertas-empleador"><img src="img/work.png" alt="" /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/ofertas-empleador">Ofertas</a></li>
                    <li><a href="#/registro-de-oferta">Nueva Oferta</a></li>
                    <li><a href="#/editar-oferta-empleador">Editar Oferta</a></li>
                    <li><a href="#/editar-perfil-empleador">Editar Perfil</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- TODO: cambiar for, id, etc ... -->
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <center><img class="logo" src="img/logo.png" alt="" /></center>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <h2><center>Registro de Oferta</center></h2>
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="inputArea" class="col-lg-2 control-label">Área</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputArea" placeholder="Área" ng-model="ofertaTrabajo.areaTrabajo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTipoPuesto" class="col-lg-2 control-label">Tipo de Puesto</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputTipoPuesto" placeholder="Tipo de Puesto" ng-model="ofertaTrabajo.tipoDePuestoTrabajo">
                    </div>
                </div>
                <div class="form-group">
                  <label for="inputFacultad" class="col-lg-2 control-label">Facultad</label>
                    <div class="col-lg-10">
                      <!--<select class="form-control" ng-model="ofertaTrabajo.facultadTrabajo" ng-options="facultad as facultad.nombre for facultad in facultades track by facultad.clave" >
                        <option value="{{facultadTrabajo.nombre}}">Seleccione una facultad</option>
                      </select>-->
                      <select class="form-control" ng-model="ofertaTrabajo.facultadTrabajo" required>
                  <option value="{{facultad.nombre}}" ng-repeat="facultad in facultades">{{facultad.nombre}}</option>
                </select>
                    </div>
                  </div>
                <div class="form-group">
                    <label for="inputRemuneracion" class="col-lg-2 control-label">Remuneración</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputRemuneracion" placeholder="Remuneración" ng-model="ofertaTrabajo.remuneracion">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDireccion" class="col-lg-2 control-label">Dirección</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDireccion" placeholder="Dirección" ng-model="ofertaTrabajo.direccionTrabajo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescripcion" class="col-lg-2 control-label">Descripción</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDescripcion" placeholder="Deescripcion" ng-model="ofertaTrabajo.descripcionTrabajo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFechaInicio" class="col-lg-2 control-label">Fecha Inicio</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" id="inputFechaInicio" placeholder="Fecha Inicio" ng-model="ofertaTrabajo.fechaInicioPublicacionTrabajo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFechaFin" class="col-lg-2 control-label">Fecha Fin</label>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" id="inputFechaFin" placeholder="Fecha Fin" ng-model="ofertaTrabajo.fechaFinPublicacionTrabajo">
                    </div>
                </div>
            </fieldset>
        </form>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-2 sidenav">
    <div class="well">
        <p>Cambio tipo de Letra</p>
        <input type="button" value="Si" onClick="dis()" />
        <input type="button" value="No" onClick="san()" />
    </div>
    <div class="well">
        <p>Justificar</p>
        <input type="button" value="Si" onClick="justificar()" />
        <input type="button" value="No" onClick="noJustificar()" />
    </div>
    <div class="well">
        <p>Tamaño Letra</p>
        <input type="button" value="-" onClick="zoomOut()" />
        <input type="button" value="+" onClick="zoomIn()" />
    </div>
</div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancelar</button>
                        <button type="submit" class="btn btn-primary" ng-click="registrarNuevaOferta()">Registrar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>



</div>
