<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="img/work.png" alt="" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Inicio <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Registro <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Postulante</a></li>
                        <li><a href="#/registro-de-empleador">Empleador</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Ingreso</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- TODO: cambiar for, id, etc ... -->
<form class="form-horizontal">
    <fieldset>
        <legend id="titulo">Ingreso</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Correo electrónico</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Correo electrónico" ng-model="usuarioLogin.correo">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Contraseña</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputEmail" placeholder="Contraseña" ng-model="usuarioLogin.contrasenia">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-click="login()">Ingresar</button>
            </div>
        </div>
    </fieldset>
</form>
