<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/postulaciones-realizadas"><img src="img/work.png" alt="" /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/postulaciones-postulante">Postulante</a></li>
                <li><a href="#/postulaciones-realizadas">Mis Postulaciones</a></li>
                <li><a href="#/">Mi CV</a></li>
                <li><a href="#/editar-perfil-postulante">Editar Perfil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Ediar postulante-->
<div class="row">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <img class="logo" src="img/logo.png" alt="" />
    </div>
    <div class="col-sm-5"></div>
</div>
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <h2><center>Editar Postulante</center></h2>
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputCedula" class="col-lg-2 control-label">Cédula de Identidad</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputCedula" placeholder="Cédula de Identidad" ng-model="postulante.cedulaPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputNombre" class="col-lg-2 control-label">Nombre </label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" ng-model="postulante.nombrePostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputApellido" class="col-lg-2 control-label">Apellído </label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputApellido" placeholder="Apellido de Postulante" ng-model="postulante.apellidoPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTelefono" class="col-lg-2 control-label">Teléfono </label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputTelefono" placeholder="Telefono de Postulante" ng-model="postulante.telefonoPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCelular" class="col-lg-2 control-label">Celular</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputCelular" placeholder="Cédula de Identidad" ng-model="postulante.celularPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Correo Electrónico</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Correo Electrónico" ng-model="postulante.emailPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputNacionalidad" class="col-lg-2 control-label">Nacionalidad</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputNacionalidad" placeholder="Nacionalidad" ng-model="postulante.nacionalidadPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEstadoCivil" class="col-lg-2 control-label">Estado Civil</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEstadoCivil" placeholder="Estado Civil" ng-model="postulante.estadoCivilPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputGenero" class="col-lg-2 control-label">Género</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputGenero" placeholder="Género" ng-model="postulante.generoPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputFechaNacimiento" class="col-lg-2 control-label">Fecha de Nacimiento</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputFechaNacimiento" placeholder="Fecha de Nacimiento" ng-model="postulante.fechaNacimientoPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescripcion" class="col-lg-2 control-label">Descripción </label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputDescripcion " placeholder="Descripción " ng-model="postulante.descripcionPerfilPostulante">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCv" class="col-lg-2 control-label">Curriculum</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputCv" placeholder="Curriculum" ng-model="postulante.cvPostulante">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Contraseña</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputEmail" placeholder="Contraseña" ng-model="postulante.contraseniaPostulante">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-sm-2"></div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-click="editarPostulante()">Actualizar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
