<!DOCTYPE html>
<html lang="es" />
<title>Postulaciones Postulante</title>

<div id="wrapper">
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/postulaciones-postulante"><img src="img/work.png" alt="icono" /></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/postulaciones-postulante">Postulante</a></li>
                        <li><a href="#/postulaciones-realizadas">Mis Postulaciones</a></li>
                        <li><a ng-href="{{postulante.cvPostulante}}" target="_blank">Mi CV</a></li>
                        <li><a href="#/editar-perfil-postulante">Editar Perfil</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="content">
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <p ng-repeat="facultad in facultades">
                        <!--  <input type="button" class="btn btn-blck" value="{{facultad.nombre}}" ng-click="getOfertasPorFacultad(facultad.nombre)" />-->
                        <a href ng-click="getOfertasPorFacultad(facultad.nombre)">{{facultad.nombre}}</a>
                    </p>
                </div>
                <div class="col-sm-8 text-left">
                    <table class="table table-striped" summary="tabla postulaciones">
                        <tbody ng-repeat="oferta in ofertas">
                            <tr>
                                <th>Área</th>
                                <th>Tipo de Puesto de Trabajo</th>
                                <th>Fecha de Publicación</th>
                            </tr>
                            <tr>
                                <td><a href="#/ver-oferta/{{oferta.id}}">{{oferta.areaTrabajo}}</a></td>
                                <td><a href="#/ver-oferta/{{oferta.id}}">{{oferta.tipoDePuestoTrabajo}}</a></td>
                                <td><a href="#/ver-oferta/{{oferta.id}}">{{oferta.fechaInicioPublicacionTrabajo | date:'medium'}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-2 sidenav">
                    <div class="well">
                        <p>Cambio tipo de Letra</p>
                        <input type="button" value="Si" onClick="dis()" />
                        <input type="button" value="No" onClick="san()" />
                    </div>
                    <div class="well">
                        <p>Justificar</p>
                        <input type="button" value="Si" onClick="justificar()" />
                        <input type="button" value="No" onClick="noJustificar()" />
                    </div>
                    <div class="well">
                        <p>Tamaño Letra</p>
                        <input type="button" value="-" onClick="zoomOut()" />
                        <input type="button" value="+" onClick="zoomIn()" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <div id="footer">
<footer class="container-fluid text-center">
<p>Footer Text</p>
</footer>
</div> -->
<h1></h1>
