<div id="wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img src="img/work.png" alt="" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Inicio <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Registro <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/registro-de-postulante">Postulante</a></li>
                            <li><a href="#/registro-de-empleador">Empleador</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/login">Ingreso</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- elementos html -->
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <center><img class="logo" src="img/logo.png" alt="" /></center>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <h2><center>Registro de Postulante</center></h2>
        <form class="form-horizontal" name="validacion">
            <fieldset>
                <div class="form-group">
                    <label for="inputCedula" class="col-lg-2 control-label">Cédula de Identidad</label>
                    <div class="col-lg-10">
                        <input type="text" name="cedula" maxlength="10" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" class="form-control" id="inputCedula" placeholder="Cédula de Identidad" ng-model="postulante.cedulaPostulante" required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.cedula.$touched">
                        <span ng-show="validacion.cedula.$error.required">El campo es Requerido y no puede exceder 10 digitos.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNombre" class="col-lg-2 control-label">Nombre </label>
                    <div class="col-lg-10">
                        <input type="text" name="nombre" maxlength="20" onKeypress="if (event.keyCode > 47 && event.keyCode < 58) event.returnValue = false;" class="form-control" id="inputNombre" placeholder="Nombre" ng-model="postulante.nombrePostulante" required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.nombre.$touched">
                        <span ng-show="validacion.nombre.$error.required">El campo es Requerido y no puede ingresar números.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputApellido" class="col-lg-2 control-label">Apellído </label>
                    <div class="col-lg-10">
                        <input type="text" name="apellido" maxlength="30" onKeypress="if (event.keyCode > 47 && event.keyCode < 58) event.returnValue = false;" class="form-control" id="inputApellido" placeholder="Apellido de Postulante" ng-model="postulante.apellidoPostulante"
                            required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.apellido.$touched">
                        <span ng-show="validacion.apellido.$error.required">El campo es Requerido y no puede ingresar números.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTelefono" class="col-lg-2 control-label">Teléfono </label>
                    <div class="col-lg-10">
                        <input type="text" name="telefono" maxlength="15" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" class="form-control" id="inputTelefono" placeholder="Telefono de Postulante" ng-model="postulante.telefonoPostulante"
                            required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.telefono.$touched">
                        <span ng-show="validacion.telefono.$error.required">El campo es Requerido y no puede ingresar letras.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCelular" class="col-lg-2 control-label">Celular</label>
                    <div class="col-lg-10">
                        <input type="text" name="celular" maxlength="12" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;" class="form-control" id="inputCelular" placeholder="Celular de Postulante" ng-model="postulante.celularPostulante" required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.celular.$touched">
                        <span ng-show="validacion.celular.$error.required">El campo es Requerido y no puede ingresar letras.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Correo Electrónico</label>
                    <div class="col-lg-10">
                        <input type="email" name="email" maxlength="50" class="form-control" id="inputEmail" placeholder="Correo Electrónico" ng-model="postulante.emailPostulante" required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.email.$touched">
                        <span ng-show="validacion.email.$error.required">El campo es Requerido.</span>
                        <span ng-show="validacion.email.$error.email">Formato de correo Incorrecto.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNacionalidad" class="col-lg-2 control-label">Nacionalidad</label>
                    <div class="col-lg-10">
                        <!--<input type="text" class="form-control" id="inputNacionalidad" placeholder="Nacionalidad" ng-model="postulante.nacionalidadPostulante" required>-->
                        <select class="form-control" name="nacionalidad" id="inputNacionalidad" placeholder="Nacionalidad" ng-model="postulante.nacionalidadPostulante" required>
                            <option value="Ecuatoriana">Ecuatoriana</option>
                            <option value="Extranjera">Extranjera</option>
                        </select>
                        <span class="messages" ng-show="validacion.$submitted || validacion.nacionalidad.$touched">
                        <span ng-show="validacion.nacionalidad.$error.required">Seleccione una Nacionalidad.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEstadoCivil" class="col-lg-2 control-label">Estado Civil</label>
                    <div class="col-lg-10">
                        <!-- <input type="text" class="form-control" id="inputEstadoCivil" placeholder="Estado Civil" ng-model="postulante.estadoCivilPostulante"> -->
                        <select class="form-control" name="estadoCivil" id="inputEstadoCivil" placeholder="Estado Civil" ng-model="postulante.estadoCivilPostulante" required>
                            <option value="Soltero/a">Soltero/a</option>
                            <option value="Viudo/a">Viudo/a</option>
                            <option value="Casado/a">Casado/a</option>
                            <option value="Divorciado/a">Divorciado/a</option>
                            <option value="Unión Libre">Unión Libre</option>
                        </select>
                        <span class="messages" ng-show="validacion.$submitted || validacion.estadoCivil.$touched">
                        <span ng-show="validacion.estadoCivil.$error.required">Seleccione un Estado Civil.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputGenero" class="col-lg-2 control-label">Género</label>
                    <div class="col-lg-10">
                        <!-- <input type="text" class="form-control" id="inputGenero" placeholder="Género" ng-model="postulante.generoPostulante"> -->
                        <select class="form-control" name="genero" id="inputGenero" placeholder="Género" ng-model="postulante.genroPostulante" required>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                        <span class="messages" ng-show="validacion.$submitted || validacion.genero.$touched">
                        <span ng-show="validacion.genero.$error.required">Seleccione un Género.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFechaNacimiento" class="col-lg-2 control-label">Fecha de Nacimiento</label>
                    <div class="col-lg-10">
                        <input type="date" name="fechaN" class="form-control" id="inputFechaNacimiento" placeholder="Fecha de Nacimiento" ng-model="postulante.fechaNacimientoPostulante" required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.fechaN.$touched">
                        <span ng-show="validacion.fechaN.$error.required">Seleccione Fecha de Nacimiento.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescripcion" class="col-lg-2 control-label">Titulos obtenidos</label>
                    <div class="col-lg-10">
                        <input type="text" name="descripcion" maxlength="60" class="form-control" id="inputDescripcion " placeholder="Descripción " ng-model="postulante.descripcionPerfilPostulante" required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.descripcion.$touched">
                        <span ng-show="validacion.descripcion.$error.required">El campo es Requerido.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCv" class="col-lg-2 control-label">Curriculum y Experiencia</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputCv" placeholder="Curriculum" ng-model="postulante.cvPostulante" required>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Contraseña</label>
                    <div class="col-lg-10">
                        <input type="password" name="contraseniaP" maxlength="15" class="form-control" id="inputEmail" placeholder="Contraseña" ng-model="postulante.contraseniaPostulante" required>
                        <span class="messages" ng-show="validacion.$submitted || validacion.contraseniaP.$touched">
                        <span ng-show="validacion.contraseniaP.$error.required">El campo es Requerido.</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancelar</button>
                        <button type="submit" class="btn btn-primary" ng-click="registrarPostulante()" ng-disabled="validacion.$invalid">Registrar</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

    <div class="col-sm-2 sidenav">
        <div class="well">
            <p>Cambio tipo de Letra</p>
            <input type="button" value="Si" onClick="dis()" />
            <input type="button" value="No" onClick="san()" />
        </div>
        <div class="well">
            <p>Justificar</p>
            <input type="button" value="Si" onClick="justificar()" />
            <input type="button" value="No" onClick="noJustificar()" />
        </div>
        <div class="well">
            <p>Tamaño Letra</p>
            <input type="button" value="-" onClick="zoomOut()" />
            <input type="button" value="+" onClick="zoomIn()" />
        </div>
    </div>




</div>
